<!doctype html>
<html>
<head>
    <style>
        .page {
            width: 21cm;
            height: 29.7cm;
        }
    </style>
    {block head}{/block}
</head>
<body>
<div class="page">
    {include content}
</div>
</body>
</html>