#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
    scanDirs: false
    errorPresenter: Error
    mapping:
        *: Travidence\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- Travidence\Model\UserManager
	- Travidence\Forms\FormFactory
	- Travidence\Forms\SignInFormFactory
	- Travidence\Forms\SignUpFormFactory
	router: Travidence\Router\RouterFactory::createRouter

	- JsonMapper
	- Travidence\Model\Validator\AnnotatedPropertyValidator
	- Travidence\Model\TripService

	-
	    class: Travidence\Rest\Application\JsonStatusResponder
	    arguments:
	        prettyPrint: $debugMode
	- Travidence\Rest\Application\ResponseCreator
