{foreach $inputs as $input}
    <div class="col-md-6">
        <div class="col-md-12">
            <label>Something</label>
        </div>
        <div class="col-md-12">
            <input type="text" name="something">
        </div>
    </div>
{/foreach}